---
layout: default
---

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123220776-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123220776-1');
</script>


<div class="container">
	<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>
  <br>
  <a href="{{ site.baseurl }}/posts"><button class="btn btn-primary">Back to Posts</button></a>

  {% include disqus.html %}
</article>
</div>


